@mixin icons($width, $height, $fill: currentColor) {
  width: $width;
  height: $height;
  fill: $fill;
}

@mixin font($size, $height, $spacing, $weight: 500, $align: left) {
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
  font-weight: $weight;
  text-align: $align;
}
