$color-ellipse:#FFA5BA;
$made-color:#FFF5F6;
$header-section-color:#FFB8CA;
$accent-color:#D41443;
$rectangle-color-coffee:#F0D1A5;
$rectangle-color-milkshakes:#C2E297;
$comment-text-color:#000000;
$second-text-color:#907E82;
$products-section-color:#E5E5E5;
$primary-white-color:#FFFFFF;
$mobile-menu-color:#E17992;
$background-comment-color:#E1E1E1;
$location-box-shadow-color:rgba(212, 20, 67, 0.1);
