$color-ellipse: #ffa5ba;
$made-color: #fff5f6;
$header-section-color: #ffb8ca;
$accent-color: #d41443;
$rectangle-color-coffee: #f0d1a5;
$rectangle-color-milkshakes: #c2e297;
$comment-text-color: #000000;
$second-text-color: #907e82;
$products-section-color: #e5e5e5;
$primary-white-color: #ffffff;
$mobile-menu-color: #e17992;
$background-comment-color: #e1e1e1;
$location-box-shadow-color: rgba(212, 20, 67, 0.1);

$heading-font-family: Titan One, sans-serif;
$primary-font-family: DM Sans, sans-serif;
