<section class="advantages">
    <div class="container">
<h2 class="visually-hidden">Advantages</h2>
<ul class="advantages_list list">
    <li class="advantages_item">
        
        <p class="advantages_number">721</p>
        <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
       
    </li>
    <li class="advantages_item">
    
    <p class="advantages_number advantages_number--apples">16kg</p>
    <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
    <li class="advantages_item">
       
        <p class="advantages_number advantages_number--lollipop">84</p>
        <p class="advantages_text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
</ul>
    </div>

</section>