<section class="contacts-section section">
  <div class="contacts-container container">
    <h2 class="section__title visually-hidden">Contacts</h2>
    <div class="contacts__card">
      <div class="contacts__wrapper">
        <ul class="contacts__type">
          <li>
            <p>CAFE</p>
            <div>
              <h3>Chicago</h3>
              <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            </div>
            <div class="contacts__shedule">
              <ul>
                <li>
                  <b>Monday - Friday</b>
                  <p>06:00 AM - 10:00 PM</p>
                </li>
                <li>
                  <b>Saturday - Sunday</b>
                  <p>08:00 AM - 16:00 PM</p>
                </li>
              </ul>
            </div>
            <div>
              <ul>
                <li>
                  <a href="tel:+610383766284">+61(0) 383 766 284</a>
                </li>
                <li>
                  <a href="mail:noreply@envato.com"> noreply@envato.com </a>
                </li>
              </ul>
            </div>
          </li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</section>
