<section class="contacts-section section" id="contacts">
  <div class="contacts-container container">
    <h2 class="section__title visually-hidden">Contacts</h2>

    <ul class="contacts-list list">
      <!-- CARD 1 - CHICAGO -->
      <li class="contacts-card">
        <p class="contacts-card__type">CAFE</p>

        <!-- PLACE -->
        <div class="contacts-card-place">
          <h3 class="contacts-card-place__title">Chicago</h3>
          <p class="contacts-card-place__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <!-- SHEDULE -->
        <div class="contacts-card-shedule">
          <ul class="contacts-card-shedule-list list">
            <li class="contacts-card-shedule__item">
              <b class="contacts-card-shedule__day">Monday - Friday</b>
              <p class="contacts-card-shedule__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-card-shedule__item">
              <b class="contacts-card-shedule__day">Saturday - Sunday</b>
              <p class="contacts-card-shedule__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>

        <!-- ADDRESS -->
        <div class="contacts-card-address">
          <ul class="contacts-card-address-list list">
            <li class="contacts-card-address__item">
              <a href="tel:+610383766284" class="contacts-card-address__phone link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-card-address__item">
              <a href="mailto:noreply@envato.com" class="contacts-card-address__phone link">
                noreply@envato.com
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- CARD 2 - LOS ANGELES -->
      <li class="contacts-card">
        <p class="contacts-card__type contacts-card__type--green">FOODTRUCK</p>

        <!-- PLACE -->
        <div class="contacts-card-place">
          <h3 class="contacts-card-place__title">Los Angeles</h3>
          <p class="contacts-card-place__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <!-- SHEDULE -->
        <div class="contacts-card-shedule">
          <ul class="contacts-card-shedule-list list">
            <li class="contacts-card-shedule__item">
              <b class="contacts-card-shedule__day">Monday - Friday</b>
              <p class="contacts-card-shedule__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-card-shedule__item">
              <b class="contacts-card-shedule__day">Saturday - Sunday</b>
              <p class="contacts-card-shedule__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>

        <!-- ADDRESS -->
        <div class="contacts-card-address">
          <ul class="contacts-card-address-list list">
            <li class="contacts-card-address__item">
              <a href="tel:+610383766284" class="contacts-card-address__phone link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-card-address__item">
              <a href="mailto:noreply@envato.com" class="contacts-card-address__phone link">
                noreply@envato.com
              </a>
            </li>
          </ul>
        </div>
      </li>

      <!-- CARD 3 - NEW YORK -->
      <li class="contacts-card">
        <p class="contacts-card__type">CAFE</p>

        <!-- PLACE -->
        <div class="contacts-card-place">
          <h3 class="contacts-card-place__title">New York</h3>
          <p class="contacts-card-place__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <!-- SHEDULE -->
        <div class="contacts-card-shedule">
          <ul class="contacts-card-shedule-list list">
            <li class="contacts-card-shedule__item">
              <b class="contacts-card-shedule__day">Monday - Friday</b>
              <p class="contacts-card-shedule__time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts-card-shedule__item">
              <b class="contacts-card-shedule__day">Saturday - Sunday</b>
              <p class="contacts-card-shedule__time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
        </div>

        <!-- ADDRESS -->
        <div class="contacts-card-address">
          <ul class="contacts-card-address-list list">
            <li class="contacts-card-address__item">
              <a href="tel:+610383766284" class="contacts-card-address__phone link"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-card-address__item">
              <a href="mailto:noreply@envato.com" class="contacts-card-address__phone link">
                noreply@envato.com
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <!-- BUTTONS -->
    <div class="contacts-buttons-wrapper">
      <button type="button" class="contacts__button contacts__button--pink">
        <span class="contacts__button-text"
          >Our Locations
          <svg class="contacts__buttom-icon--white" width="4.28px" height="8">
            <use href=""></use>
          </svg>
        </span>
      </button>
      <button type="button" class="contacts__button contacts__button--white">
        <span class="contacts__button-text"
          >Franchise
          <svg class="contacts__buttom-icon--pink" width="4.28px" height="8">
            <use href=""></use>
            <!-- ./images/sprite.svg#contacts-icon -->
          </svg>
        </span>
      </button>
    </div>
  </div>
</section>
