<!-- section customer-review -->

<section class="section-review">
  <h2 class="visually-hidden" id="section-review">Costomer-review</h2>
  <div class="container">
    <div class="rev-slider">
      <div class="slider">
        <picture class="rev-img">
          <source
            srcset="
              ./images/reviews/webp/customer_1.webp    1x,
              ./images/reviews/webp/customer_1@2x.webp 2x,
              ./images/reviews/webp/customer_1@3x.webp 3x
            "
            type="image/webp" />
          <source
            srcset="
              ./images/reviews/png/customer_1.png    1x,
              ./images/reviews/png/customer_1@2x.png 2x,
              ./images/reviews/png/customer_1@3x.png 3x
            "
            type="image/png" />

          <img src="./images/reviews/png/customer_1.png" alt=""
        /></picture>
        <div class="rev-descr">
          <p class="rev-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <div class="pseudo"></div>
          <p class="rev-name">
            Emily, Los Angeles
          </p>
        </div>
      </div>

      <div class="slider">
        <picture class="rev-img">
          <source
            srcset="
              ./images/reviews/webp/customer_2.webp    1x,
              ./images/reviews/webp/customer_2@2x.webp 2x,
              ./images/reviews/webp/customer_2@3x.webp 3x
            "
            type="image/webp" />
          <source
            srcset="
              ./images/reviews/png/customer_2.png    1x,
              ./images/reviews/png/customer_2@2x.png 2x,
              ./images/reviews/png/customer_2@3x.png 3x
            "
            type="image/png" />

          <img src="./images/reviews/png/customer_2.png" alt=""
        /></picture>
        <div class="rev-descr">
          <p class="rev-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <div class="pseudo"></div>
          <p class="rev-name">
            Emily, Los Angeles
          </p>
        </div>
      </div>

      <div class="slider">
        <picture class="rev-img">
          <source
            srcset="
              ./images/reviews/webp/customer_3.webp    1x,
              ./images/reviews/webp/customer_3@2x.webp 2x,
              ./images/reviews/webp/customer_3@3x.webp 3x
            "
            type="image/webp" />
          <source
            srcset="
              ./images/reviews/png/customer_3.png    1x,
              ./images/reviews/png/customer_3@2x.png 2x,
              ./images/reviews/png/customer_3@3x.png 3x
            "
            type="image/png" />

          <img src="./images/reviews/png/customer_3.png" alt=""
        /></picture>
        <div class="rev-descr">
          <p class="rev-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <div class="pseudo"></div>
          <p class="rev-name">
            Emily, Los Angeles
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
