<!-- Customer-reviews-->

<section class="customer-reviews.html" id="customer-reviews">
    <div class="container">
        <picture>
            <source srcset="./images/reviews/webp/customer_1.webp 1x, 
                                ./images/reviews/webp/customer_1@2x.webp 2x, 
                                ./images/reviews/webp/customer_1@3x.webp 3x" type="images/webp" media="(min-width: 1280px)" />
            <source srcset="./images/reviews/png/customer_1.png, 
                                ./images/reviews/png/customer_1@2x.png, 
                                ./images/reviews/png/customer_1@3x.png" type="images/png" media="(min-width: 1280px)" />
            <source srcset="./images/reviews/webp/customer_1.webp, 
                                ./images/reviews/webp/customer_1@2x.webp, 
                                ./images/reviews/webp/customer_1@3x.webp" type="images/webp" media="(min-width: 768px)" />
            <source srcset="./images/reviews/png/customer_1.png, 
                                ./images/reviews/png/customer_1@2x.png, 
                                ./images/reviews/png/customer_1@3x.png" type="images/png" media="(min-width: 768px)" />
            <source srcset="./images/reviews/webp/customer_1.webp, 
                                ./images/reviews/webp/customer_1@2x.webp, 
                                ./images/reviews/webp/customer_1@3x.webp" type="images/webp" media="(min-width: 320px)" />
            <source srcset="./images/reviews/png/customer_1.png, 
                                ./images/reviews/png/customer_1@2x.png, 
                                ./images/reviews/png/customer_1@3x.png" type="images/png" media="(min-width: 320px)" />
            <img class="customer-reviews_images" src="./images/reviews/png/customer_1.png" alt="Кучерявая мулатка" width="85"
                height="85" />
        </picture>
        
        <div>
            <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
        </div>
        
        <!--иконки красные точки-->

            <svg class="customer-reviews__icons" width="32" height="4">
            <use href="./images/icons/symbol-defs2.svg#icon-red_dots_reviews"></use>
            </svg>
        
        
        <p class="customer-reviews__text">Emily, Los Angeles</p>
        
        <!--иконки соцсети-->

        <div class="list__team-social-list">
            <ul class="list team-social-list">
                <li class="team-social-list_item">
                    <a href class="link team-social-list_link"></a>
                    <svg class="team-social-list_icon" width="12" height="12">
                        <use href="./images/icons/symbol-defs2.svg#icon-red_house_reviews"></use>
                    </svg>
                </li>
                <li class="team-social-list_item">
                    <a href class="link team-social-list_link"></a>
                    <svg class="team-social-list_icon" width="12" height="12">
                        <use href="./images/icons/symbol-defs2.svg#icon-gray_circle_reviews"></use>
                    </svg>
                </li>
                <li class="team-social-list_item">
                    <a href class="link team-social-list_link"></a>
                    <svg class="team-social-list_icon" width="12" height="12">
                        <use href="./images/icons/symbol-defs2.svg#icon-gray_circle_reviews"></use>
                        <use href=""></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>

</section>