<!-- Customer-reviews-->
<section class="customer-reviews-section">
    <picture>
        <source srcset="./images/reviews/webp/customer_1.web, ./images/reviews/webp/customer_1@2x.web, ./images/reviews/webp/customer_1@3x.web," type="imeges/reviews/webs" media="(min-width: 1200px)">
        <source srcset="./images/reviews/webp/customer_1.png, ./images/reviews/webp/customer_1@2x.png, ./images/reviews/webp/customer_1@3x.png," type="imeges/reviews/webs" media="(min-width: 1200px)">
        <source srcset="./images/reviews/webp/customer_1.web, ./images/reviews/webp/customer_1@2x.web, ./images/reviews/webp/customer_1@3x.web," type="imeges/reviews/webs" media="(min-width: 768px)">
        <source srcset="./images/reviews/webp/customer_1.png, ./images/reviews/webp/customer_1@2x.png, ./images/reviews/webp/customer_1@3x.png," type="imeges/reviews/webs" media="(min-width: 768px)">
        <source srcset="./images/reviews/webp/customer_1.png, ./images/reviews/webp/customer_1@2x.png, ./images/reviews/webp/customer_1@3x.png," type="imeges/reviews/webs" media="(min-width: 320px)">
        <source srcset="./images/reviews/webp/customer_1.png, ./images/reviews/webp/customer_1@2x.png, ./images/reviews/webp/customer_1@3x.png," type="imeges/reviews/webs" media="(min-width: 320px)">
        <img class="customer-reviews_image" src="./images/reviews/png/customer_1.png" alt="Кучерявая мулатка" width="85" height="85">
    </picture>

    <div> 
        <p class="reviews_text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
    </div>

    <!--иконки красные точки-->
    <svg class="customer-reviews_icons" width="32" height="4">
        <use href="./images/icons/red_dots_reviews.svg"></use>
    </svg>

     <p class="customer-reviews_text">Emily, Los Angeles</p>

    <!--иконки соцсети-->
    <ul class="list team-social-list">
        <li class="team-social-list_item"> 
            <a href class="link team-social-list_link"></a> 
            <svg class="team-social-list_icon" width="12" height="12">
                <use href="./images/icons/red_house_reviews.svg"></use>
            </svg>                   
        </li>
        <li class="team-social-list_item">
            <a href class="link team-social-list_link"></a>
            <svg class="team-social-list_icon" width="12" height="12">
                <use href="./images/icons/gray_circle_reviews.svg"></use>
            </svg>
        </li>
        <li class="team-social-list_item">
            <a href class="link team-social-list_link"></a>
            <svg class="team-social-list_icon" width="12" height="12">
                <use href="./images/icons/gray_circle_reviews.svg"></use>
                <use href=""></use>
            </svg>
        </li>
    </ul>



</section>