<footer class="footer">
    <div class="container footer-container">
      <div class="">
        <p class="">
          HOMEMADE ICE CREAM MADE 
        </p>
        <p class="">
          WITH PASSION
        </p>
      </div>
      <div class="">
        <ul class="">
          <li class="">
            <a href="#" class="">
              <svg class="" width="20px" height="20px">

              </svg>
            </a>
          </li>
          <li class="">
            <a href="#" class="">
              <svg class="" width="20px" height="20px">

              </svg>
            </a>
          </li>
          <li class="">
            <a href="#" class="">
              <svg class="" width="20px" height="20px">

              </svg>
            </a>
          </li>
        </ul>
        <ul class="">
          <li class="">
            <p class="">Feel free to contact</p>
          </li>
          <li>
            <a href="tel:+61(0)383766284" class=""> +61 (0) 383 766 284 </a>
          </li>
        </ul>
      </div>
      <div class="">
        <p class="">© 2019 - IceCream. All Rights Reserved.</p>
      </div>
    </div>
  </footer>