<footer class="footer">
  <div class="section footer-section">
    <div class="container footer-container">
      <div class="footer-block-wrapper">
        <p class="footer-block__text">
          <a href="#hero" class="footer-block__link">
            HOMEMADE ICE CREAM MADE
            <span class="footer-block__text-logo"> WITH PASSION </span>
          </p>
          </a>
      </div>
      <div class="social-networks-wrapper">
        <ul class="social-networks-list">
          <li class="social-networks__item">
            <a href="https://github.com/" class="social-networks__link link" target="_blank"
            rel="noopener noreferrer">
              <svg class="social-networks__icons" width="32px" height="32px">
                <use href="./images/icons/symbol-defs2.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-networks__item">
            <a href="https://web.telegram.org/" class="social-networks__link link" target="_blank"
            rel="noopener noreferrer">
              <svg class="social-networks__icons" width="32px" height="32px">
                <use href="./images/icons/symbol-defs2.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-networks__item">
            <a href="https://www.facebook.com/" class="social-networks__link link" target="_blank"
            rel="noopener noreferrer">
              <svg class="social-networks__icons" width="32px" height="32px">
                <use href="./images/icons/symbol-defs2.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="address__text">
          Feel free to contact
          <a href="tel:+61(0)383766284" class="address__link"> +61 (0) 383 766 284 </a>
        </p>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div>
      <p class="copyright__text">© 2019 - IceCream. All Rights Reserved.</p>
    </div>
  </div>
  <div class="button-modal-good-devs__wrapper">
    <button data-modal-open-4 type="button" class="button-modal-good-devs__button button">
      <svg class="button-modal-good-devs__goit-logo" width="53" height="16">
        <use href="./images/icons/symbol-defs2.svg#icon-goit-logo"></use>
      </svg>
    </button>
  </div>
</footer>
