<footer class="footer">
  <section class="section footer-section">
    <div class="container footer-container">
      <div class="footer-block-wrapper">
        <p class="footer-block__text">
          HOMEMADE ICE CREAM MADE 
          <span class="footer-block__text-logo">
            WITH PASSION
          </span>
        </p>
      </div>
      <div class="social-networks-wrapper">
        <ul class="social-networks-list">
          <li class="social-networks__item">
            <a href="#" class="social-networks__link link">
              <svg class="social-networks__icons" width="32px" height="32px">
                <use href="./images/icons/symbol-defs2.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="social-networks__item">
            <a href="#" class="social-networks__link link">
              <svg class="social-networks__icons" width="32px" height="32px">
                <use href="./images/icons/symbol-defs2.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-networks__item">
            <a href="#" class="social-networks__link link">
              <svg class="social-networks__icons" width="32px" height="32px">
                <use href="./images/icons/symbol-defs2.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
          <p class="address__text">Feel free to contact
            <a href="tel:+61(0)383766284" class="address__link"> +61 (0) 383 766 284 </a> 
          </p>
      </div>
  </section>
  <section class="copyright">
        <p class="copyright__text">© 2019 - IceCream. All Rights Reserved.</p>
  </section>
    </div>
  </footer>