<section class="gallery-section">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        
        <img class="gallery-section__image" src="./images/gallery/gallery-mob.png" alt="Photo Gallery"
        >
        <!-- <img class="gallery-section_image" src="./src/images/gallery/gallery-mob.png" alt="Photo Gallery"
        srcset="images/gallery/gallery-mob.png 364w,
        images/gallery/gallery-mob@2x.png 728w,
        images/gallery/gallery-mob@3x.png 1092w,
        "
        sizes="(min-width: 320px) 100vw"
        > -->

    </div>

</section>