<section class="gallery-section">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        <!-- Варіант 1 -->
            <div class="gallery_item">
                <div class="gallery_image">
                    <img class="picture" src="./images/gallery/mobile/image_1_mob.jpg" alt="ice-cream" width="40">
                </div>
            </div>
        
            <div class="gallery_item">
                <div class="gallery_image">
                    <img class="picture" src="./images/gallery/mobile/image_2_mob.jpg" alt="ice-cream" width="40">
                </div>
                <div class="gallery_image">
                    <img class="picture" src="./images/gallery/mobile/image_3_mob.jpg" alt="ice-cream" width="40">
                </div>
            </div>
            <div class="gallery_item">
                <div class="gallery_image">
                    <img class="picture" src="./images/gallery/mobile/image_4_mob.jpg" alt="ice-cream" width="80">
                </div>
                <div class="gallery_image">
                    <img class="picture" src="./images/gallery/mobile/image_5_mob.jpg" alt="ice-cream" width="40">
                </div>
            </div>
            <div class="gallery_item">
                <div class="gallery_image">
                    <img class="picture" src="./images/gallery/mobile/image_6_mob.jpg" alt="ice-cream" width="40">
                </div>
                <div class="gallery_image">
                    <img class="picture" src="./images/gallery/mobile/image_7_mob.jpg" alt="ice-cream" width="40">
                </div>
            </div>
            <div class="gallery_item">
                <div class="gallery_image">
                    <img class="picture" src="./images/gallery/mobile/image_8_mob.jpg" alt="ice-cream" width="40">
                </div>
                <div class="gallery_image">
                    <img class="picture" src="./images/gallery/mobile/image_9_mob.jpg" alt="ice-cream" width="40">
                </div>
            </div>
            <div class="gallery_item">
                <div class="gallery_image">
                    <img class="picture" src="./images/gallery/mobile/image_10_mob.jpg" alt="ice-cream" width="40">
                </div>
            </div>
             -->


        <!-- Варіант 2 -->
        <!-- <img class="gallery-section_image" src="./images/gallery/gallery-mob.png" alt="Photo Gallery"
        > -->

        
        <!-- <img class="gallery-section_image" src="./src/images/gallery/gallery-mob.png" alt="Photo Gallery"
        srcset="images/gallery/gallery-mob.png 364w,
        images/gallery/gallery-mob@2x.png 728w,
        images/gallery/gallery-mob@3x.png 1092w,
        "
        sizes="(min-width: 320px) 100vw"
        >

    </div>

</section>