<section class="gallery-section">
    <div class="container">
        <h2 class="visually-hidden">Gallery</h2>
        <!-- Mansonry Layout Flex -->
        <div class="gallery__item">
            <div class="gallery__image">
                <img class="picture" src="./images/gallery/mobile/image_1_mob.jpg" alt="ice-cream" width="40">
            </div>
        </div>
        <div class="gallery__item">
            <div class="gallery__image">
                <img class="picture" src="./images/gallery/mobile/image_2_mob.jpg" alt="ice-cream" width="40">
            </div>
            <div class="gallery__image">
                <img class="picture" src="./images/gallery/mobile/image_3_mob.jpg" alt="ice-cream" width="40">
            </div>
        </div>

        <div class="gallery__item">
            <div class="gallery__image">
                <img class="picture" src="./images/gallery/mobile/image_4_mob.jpg" alt="ice-cream" width="80">
            </div>
            <div class="gallery__image">
                <img class="picture" src="./images/gallery/mobile/image_5_mob.jpg" alt="ice-cream" width="40">
            </div>
        </div>
        <div class="gallery__item">
            <div class="gallery__image">
                <img class="picture" src="./images/gallery/mobile/image_6_mob.jpg" alt="ice-cream" width="40">
            </div>
            <div class="gallery__image">
                <img class="picture" src="./images/gallery/mobile/image_7_mob.jpg" alt="ice-cream" width="40">
            </div>
        </div>
        <div class="gallery__item">
            <div class="gallery__image">
                <img class="picture" src="./images/gallery/mobile/image_8_mob.jpg" alt="ice-cream" width="40">
            </div>
            <div class="gallery__image">
                <img class="picture" src="./images/gallery/mobile/image_9_mob.jpg" alt="ice-cream" width="40">
            </div>
        </div>
        <div class="gallery__item">
            <div class="gallery__image">
                <img class="picture" src="./images/gallery/mobile/image_10_mob.jpg" alt="ice-cream" width="40">
            </div>
        </div>

    </div>  

</section>

        

