<header class="header">
    <div class="container header-container">
        <a href="./index.html" class="logo link">
            <svg class="logo-icon" width="50" height="50">
                    <use href="./images/icons/symbol-defs2.svg#icon-logo-svg"></use>
            </svg>
            <span class="logo-text heading">icecream</span>
        </a>
        <button type="button" class="menu-button open-menu">
            <svg class="menu-button__icon menu-button__icon--open-menu" width="20" height="12">
                <use href="./images/icons/symbol-defs2.svg#icon-burger"></use>
            </svg>
        </button>
        <div class="menu">
            <button type="button" class="menu-button close-menu">
                <svg class="menu-button__icon menu-button__icon--close-menu" width="14" height="14">
                    <use href="./images/icons/symbol-defs2.svg#icon-close"></use>
                </svg>
            </button>

            <button data-modal-open type="button" class="button button-order-mobile">
                Buy now
                <svg class="button-order__icon-more" width="5" height="8">
                    <use href="./images/icons/symbol-defs2.svg#icon-more"></use>
                </svg>
            </button>

            <nav class="nav-menu">
                <ul class="list site-list">
                    <li class="site-list__item">
                        <a href="#hero" class="link site-list__link site-list__link--hero site-list__link--current" >Home</a>
                    </li>
                    <li class="site-list__item">
                        <a href="#about" class="link site-list__link site-list__link--about">About us</a>
                    </li>
                    <li class="site-list__item">
                        <a href="#about" class="link site-list__link site-list__link--about-1">How it’s made?</a>
                    </li>
                    <li class="site-list__item">
                        <a href="#products" class="link site-list__link site-list__link--products">Our products</a>
                    </li>
                    <li class="site-list__item">
                        <a href="#contacts" class="link site-list__link site-list__link--contacts">Contact</a>
                    </li>
                </ul>
            </nav>
            
        </div>
        <button data-modal-open-1 type="button" class="button button-order">
            Buy now
            <svg class="button-order__icon-more" width="5" height="8">
                <use href="./images/icons/symbol-defs2.svg#icon-more"></use>
            </svg>
        </button>

    </div>
</header>

