<section id="hero" class="hero">
    <div class="container hero-container">
        <h1 class="heading hero__heading"><span class="hero__heading--white">ice cream<br>made with</span><br>passion</h1>
        <a href="#products" class="link hero-link__button hero-link__button--first">Products</a>
        <a href="#products" class="link hero-link__button hero-link__button--secondery">How it’s made?</a>
        <p class="features-cafes text"><span class="features-quantity">16</span>cafes</p>
        <p class="features-food-trucks text"><span class="features-quantity">23</span>food trucks</p>
        <div class="product">
            <!-- <picture>
                <source srcset="./images/header/webp/slider_milk_desk.webp 1x, ./images/header/webp/slider_milk_desk@2x.webp 2x, ./images/header/webp/slider_milk_desk@3x.webp 3x" type="image/webp" 
                    media="(min-width: 1200px)">
                <source srcset="./images/header/png/slider_milk_desk.png 1x, ./images/header/png/slider_milk_desk@2x.png 2x, ./images/header/png/slider_milk_desk@3x.png 3x" type="image/jpeg" 
                    media="(min-width: 1200px)">
                <source srcset="./images/header/webp/slider_milk_tab.webp 1x, ./images/header/webp/slider_milk_tab@2x.webp 2x, ./images/header/webp/slider_milk_tab@3x.webp 3x" type="image/webp" 
                     media="(min-width: 768px)">
                <source srcset="./images/header/png/slider_milk_tab.png 1x, ./images/header/png/slider_milk_tab@2x.png 2x, ./images/header/png/slider_milk_tab@3x.png 3x" type="image/jpeg" 
                     media="(min-width: 768px)">
                <img src="./images/header/png/slider_milk_tab.png" alt="milk" width="124" class="image">
            </picture> -->
            <p class="text ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a href="#" class="link">
                <svg class="" width="18" height="18">
                    <use href="./images/symbol-defs_test.svg#icon-arrow-right"></use>
                </svg>        
            </a>
        </div>
    </div>
</section>

