<section id="hero" class="hero">
    <div class="container hero-container">
        <h1 class="heading hero__heading"><span class="hero__heading--white">ice cream<br>made with</span><br>passion</h1>
        <a href="#products" class="link hero-link__button hero-link__button--first">Products</a>
        <a href="#products" class="link hero-link__button hero-link__button--secondery">How it’s made?</a>
        <p class="features-cafes text"><span class="features-quantity">16</span>cafes</p>
        <p class="features-food-trucks text"><span class="features-quantity">23</span>food trucks</p>
        <div class="hero-product">
            <p class="text hero-product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <a href="#" class="link hero-product__link">
                <svg class="hero-product__icon" width="10" height="10">
                    <use href="./images/symbol-defs_test.svg#icon-arrow-right"></use>
                </svg>        
            </a>
        </div>
            <picture>
                <source srcset="./images/header/webp/slider_milk_desk.webp 1x, ./images/header/webp/slider_milk_desk@2x.webp 2x, ./images/header/webp/slider_milk_desk@3x.webp 3x" type="image/webp" 
                    media="(min-width: 1200px)">
                <source srcset="./images/header/png/slider_milk_desk.png 1x, ./images/header/png/slider_milk_desk@2x.png 2x, ./images/header/png/slider_milk_desk@3x.png 3x" type="image/jpeg" 
                    media="(min-width: 1200px)">
                <source srcset="./images/header/webp/slider_milk_tab.webp 1x, ./images/header/webp/slider_milk_tab@2x.webp 2x, ./images/header/webp/slider_milk_tab@3x.webp 3x" type="image/webp" 
                     media="(min-width: 768px)">
                <source srcset="./images/header/png/slider_milk_tab.png 1x, ./images/header/png/slider_milk_tab@2x.png 2x, ./images/header/png/slider_milk_tab@3x.png 3x" type="image/jpeg" 
                     media="(min-width: 768px)">
                <img src="./images/header/png/slider_milk_tab.png" alt="milk" width="124" class="image">
            </picture>
            <div>
                <picture>
                    <source srcset="./images/header/webp/slider_ice_cream_desk.webp 1x, ./images/header/webp/slider_ice_cream_desk@2x.webp 2x, ./images/header/webp/slider_ice_cream_desk@3x.webp 3x" type="image/webp" 
                        media="(min-width: 1200px)">
                    <source srcset="./images/header/png/slider_ice_cream_desk.png 1x, ./images/header/png/slider_ice_cream_desk@2x.png 2x, ./images/header/png/slider_ice_cream_desk@3x.png 3x" type="image/jpeg" 
                        media="(min-width: 1200px)">
                    <source srcset="./images/header/webp/slider_ice_cream_tab.webp 1x, ./images/header/webp/slider_ice_cream_tab@2x.webp 2x, ./images/header/webp/slider_ice_cream_tab@3x.webp 3x" type="image/webp" 
                        media="(min-width: 768px)">
                    <source srcset="./images/header/png/slider_ice_cream_tab.png 1x, ./images/header/png/slider_ice_cream_tab@2x.png 2x, ./images/header/png/slider_ice_cream_tab@3x.png 3x" type="image/jpeg" 
                        media="(min-width: 768px)">
                    <source srcset="./images/header/webp/slider_ice_cream_mob.webp 1x, ./images/header/webp/slider_ice_cream_mob@2x.webp 2x, ./images/header/webp/slider_ice_cream_mob@3x.webp 3x" type="image/webp" 
                        media="(min-width: 480px)">
                    <source srcset="./images/header/png/slider_ice_cream_mob.png 1x, ./images/header/png/slider_ice_cream_mob@2x.png 2x, ./images/header/png/slider_ice_cream_mob@3x.png 3x" type="image/jpeg" 
                        media="(min-width: 480px)">
                    <img src="./images/header/png/slider_ice_cream_mob.png" alt="ice_cream" width="171" class="image">
                </picture>
            </div>
            <picture>
                <source srcset="./images/header/webp/slider_girl_desk.webp 1x, ./images/header/webp/slider_girl_desk@2x.webp 2x, ./images/header/webp/slider_girl_desk@3x.webp 3x" type="image/webp" 
                    media="(min-width: 1200px)">
                <source srcset="./images/header/png/slider_girl_desk.png 1x, ./images/header/png/slider_girl_desk@2x.png 2x, ./images/header/png/slider_girl_desk@3x.png 3x" type="image/jpeg" 
                    media="(min-width: 1200px)">
                <source srcset="./images/header/webp/slider_girl_tab.webp 1x, ./images/header/webp/slider_girl_tab@2x.webp 2x, ./images/header/webp/slider_girl_tab@3x.webp 3x" type="image/webp" 
                    media="(min-width: 768px)">
                <source srcset="./images/header/png/slider_girl_tab.png 1x, ./images/header/png/slider_girl_tab@2x.png 2x, ./images/header/png/slider_girl_tab@3x.png 3x" type="image/jpeg" 
                    media="(min-width: 768px)">
                <img src="./images/header/png/slider_girl_tab.png" alt="ice_cream" width="171" class="image"></section>

