<div data-modal-4 class="backdrop is-hidden">
  <div class="modal good-devs-modal">
    <button data-modal-close-4 type="button" class="modal-button-close">
      <svg class="modal-icon" width="18px" height="18px">
        <use href="./images/icons/symbol-defs2.svg#icon-close-black"></use>
      </svg>
    </button>
    <p class="good-devs-modal__title">Good-Devs</p>

    <!-- DEV1 - Дзумедзей Василь -->
    <div class="good-devs-modal-wrapper good-devs-modal-wrapper--left">
      <picture>
        <source
          srcset="
            ./images/footer/dzumedzei.png    1x,
            ./images/footer/dzumedzei@2x.png 2x,
            ./images/footer/dzumedzei@3x.png 3x
          "
          type="image/png"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/footer/dzumedzei.png    1x,
            ./images/footer/dzumedzei@2x.png 2x,
            ./images/footer/dzumedzei@3x.png 3x
          "
          type="image/png"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/footer/dzumedzei.png    1x,
            ./images/footer/dzumedzei@2x.png 2x,
            ./images/footer/dzumedzei@3x.png 3x
          "
          type="image/png"
          media="(min-width: 320px)"
        />
        <img
          src="./images/footer/dzumedzei.png"
          alt="developer"
          class="good-devs-modal__photo good-devs-modal__photo--left"
        />
      </picture>

      <div class="good-devs-modal__thumb--left">
        <div class="good-devs-modal-thumb_first">
          <p class="good-devs-modal__name--left">Дзумедзей Василь</p>
          <p class="good-devs-modal__role--left">developer, team-lead</p>
        </div>

        <p class="good-devs-modal__action--left">Contacts, 3 modals</p>
      </div>
    </div>

    <!-- DEV2 - Даниленко Юлія -->
    <div class="good-devs-modal-wrapper good-devs-modal-wrapper--right">
      <div class="good-devs-modal__thumb--right">
        <div class="good-devs-modal-thumb_first">
          <p class="good-devs-modal__name--right">Даниленко Юлія</p>
          <p class="good-devs-modal__role--right">developer, scrum-master</p>
        </div>

        <p class="good-devs-modal__action--right">Products</p>
      </div>
      <picture>
        <source
          srcset="
            ./images/footer/danilenko.png    1x,
            ./images/footer/danilenko@2x.png 2x,
            ./images/footer/danilenko@3x.png 3x
          "
          type="image/png"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/footer/danilenko.png    1x,
            ./images/footer/danilenko@2x.png 2x,
            ./images/footer/danilenko@3x.png 3x
          "
          type="image/png"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/footer/danilenko.png    1x,
            ./images/footer/danilenko@2x.png 2x,
            ./images/footer/danilenko@3x.png 3x
          "
          type="image/png"
          media="(min-width: 320px)"
        />
        <img
          src="./images/footer/danilenko.png"
          alt="developer"
          class="good-devs-modal__photo good-devs-modal__photo--right"
        />
      </picture>
    </div>

    <!-- DEV3 - Богатчук Микола> -->
    <div class="good-devs-modal-wrapper good-devs-modal-wrapper--left">
      <picture>
        <source
          srcset="
            ./images/footer/bogatchuk.png    1x,
            ./images/footer/bogatchuk@2x.png 2x,
            ./images/footer/bogatchuk@3x.png 3x
          "
          type="image/png"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/footer/bogatchuk.png    1x,
            ./images/footer/bogatchuk@2x.png 2x,
            ./images/footer/bogatchuk@3x.png 3x
          "
          type="image/png"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/footer/bogatchuk.png    1x,
            ./images/footer/bogatchuk@2x.png 2x,
            ./images/footer/bogatchuk@3x.png 3x
          "
          type="image/png"
          media="(min-width: 320px)"
        />
        <img
          src="./images/footer/bogatchuk.png"
          alt="developer"
          class="good-devs-modal__photo good-devs-modal__photo--left"
        />
      </picture>

      <div class="good-devs-modal__thumb--left">
        <div class="good-devs-modal-thumb_first">
          <p class="good-devs-modal__name--left">Богатчук Микола</p>
          <p class="good-devs-modal__role--left">developer</p>
        </div>

        <p class="good-devs-modal__action--left">Header, hero, menu, modal</p>
      </div>
    </div>

    <!-- DEV2 - Котельницька Наталія -->
    <div class="good-devs-modal-wrapper good-devs-modal-wrapper--right">
      <div class="good-devs-modal__thumb--right">
        <div class="good-devs-modal-thumb_first">
          <p class="good-devs-modal__name--right">Котельницька Наталія</p>
          <p class="good-devs-modal__role--right">developer</p>
        </div>

        <p class="good-devs-modal__action--right">About, advantages, gallery</p>
      </div>
      <picture>
        <source
          srcset="
            ./images/footer/kotelnytska.png    1x,
            ./images/footer/kotelnytska@2x.png 2x,
            ./images/footer/kotelnytska@3x.png 3x
          "
          type="image/png"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/footer/kotelnytska.png    1x,
            ./images/footer/kotelnytska@2x.png 2x,
            ./images/footer/kotelnytska@3x.png 3x
          "
          type="image/png"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/footer/kotelnytska.png    1x,
            ./images/footer/kotelnytska@2x.png 2x,
            ./images/footer/kotelnytska@3x.png 3x
          "
          type="image/png"
          media="(min-width: 320px)"
        />
        <img
          src="./images/footer/kotelnytska.png"
          alt="developer"
          class="good-devs-modal__photo good-devs-modal__photo--right"
        />
      </picture>
    </div>

    <!-- DEV1 - Носков Анатолій -->
    <div class="good-devs-modal-wrapper good-devs-modal-wrapper--left">
      <picture>
        <source
          srcset="
            ./images/footer/noskov.png    1x,
            ./images/footer/noskov@2x.png 2x,
            ./images/footer/noskov@3x.png 3x
          "
          type="image/png"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/footer/noskov.png    1x,
            ./images/footer/noskov@2x.png 2x,
            ./images/footer/noskov@3x.png 3x
          "
          type="image/png"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/footer/noskov.png    1x,
            ./images/footer/noskov@2x.png 2x,
            ./images/footer/noskov@3x.png 3x
          "
          type="image/png"
          media="(min-width: 320px)"
        />
        <img
          src="./images/footer/noskov.png"
          alt="developer"
          class="good-devs-modal__photo good-devs-modal__photo--left"
        />
      </picture>
      <div class="good-devs-modal__thumb--left">
        <div class="good-devs-modal-thumb_first">
          <p class="good-devs-modal__name--left">Носков Анатолій</p>
          <p class="good-devs-modal__role--left">developer</p>
        </div>

        <p class="good-devs-modal__action--left">Customer reviews</p>
      </div>
    </div>

    <!-- DEV2 - Процанюк Наталія -->
    <div class="good-devs-modal-wrapper good-devs-modal-wrapper--right">
      <div class="good-devs-modal__thumb--right">
        <div class="good-devs-modal-thumb_first">
          <p class="good-devs-modal__name--right">Процанюк Наталія</p>
          <p class="good-devs-modal__role--right">developer</p>
        </div>

        <p class="good-devs-modal__action--right">Footer</p>
      </div>
      <picture>
        <source
          srcset="
            ./images/footer/protsaniuk.png    1x,
            ./images/footer/protsaniuk@2x.png 2x,
            ./images/footer/protsaniuk@3x.png 3x
          "
          type="image/png"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/footer/protsaniuk.png    1x,
            ./images/footer/protsaniuk@2x.png 2x,
            ./images/footer/protsaniuk@3x.png 3x
          "
          type="image/png"
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/footer/protsaniuk.png    1x,
            ./images/footer/protsaniuk@2x.png 2x,
            ./images/footer/protsaniuk@3x.png 3x
          "
          type="image/png"
          media="(min-width: 320px)"
        />
        <img
          src="./images/footer/protsaniuk.png"
          alt="developer"
          class="good-devs-modal__photo good-devs-modal__photo--right"
        />
      </picture>
    </div>
    <p class="development">Made by GoIT students on July 15-22, 2021</p>
  </div>
</div>
