<div data-modal-2 class="backdrop is-hidden">
  <div class="modal good-devs-modal">
    <button data-modal-close-2 type="button" class="modal-button-close">
      <svg class="modal-icon" width="18px" height="18px">
        <use href="./images/icons/symbol-defs2.svg#icon-close-black"></use>
      </svg>
    </button>
    <p class="good-devs-modal__title">Good-Devs</p>

    <!-- DEV1 - Дзумедзей Василь -->
    <div class="good-devs-modal-wrapper good-devs-modal-wrapper--left">
      <img
        src="./images/reviews/png/customer_1.png"
        class="good-devs-modal__photo--left"
        alt="developer"
      />
      <div class="good-devs-modal__thumb--left">
        <div class="good-devs-modal-thumb_first">
          <p class="good-devs-modal__name--left">Дзумедзей Василь</p>
          <p class="good-devs-modal__role--left">developer, team-lead</p>
        </div>

        <p class="good-devs-modal__action--left">Contacts, 3 modals</p>
      </div>
    </div>

    <!-- DEV2 - Даниленко Юлія -->
    <div class="good-devs-modal-wrapper good-devs-modal-wrapper--right">
      <div class="good-devs-modal__thumb--right">
        <div class="good-devs-modal-thumb_first">
          <p class="good-devs-modal__name--right">Даниленко Юлія</p>
          <p class="good-devs-modal__role--right">developer, scram-master</p>
        </div>

        <p class="good-devs-modal__action--right">Products</p>
      </div>
      <img
        src="./images/reviews/png/customer_1.png"
        class="good-devs-modal__photo--right"
        alt="developer"
      />
    </div>

    <!-- DEV3 - Богатчук Микола> -->
    <div class="good-devs-modal-wrapper good-devs-modal-wrapper--left">
      <img
        src="./images/reviews/png/customer_1.png"
        class="good-devs-modal__photo--left"
        alt="developer"
      />
      <div class="good-devs-modal__thumb--left">
        <div class="good-devs-modal-thumb_first">
          <p class="good-devs-modal__name--left">Богатчук Микола</p>
          <p class="good-devs-modal__role--left">developer</p>
        </div>

        <p class="good-devs-modal__action--left">Header, hero, menu, modal</p>
      </div>
    </div>

    <!-- DEV2 - Котельницька Наталія -->
    <div class="good-devs-modal-wrapper good-devs-modal-wrapper--right">
      <div class="good-devs-modal__thumb--right">
        <div class="good-devs-modal-thumb_first">
          <p class="good-devs-modal__name--right">Котельницька Наталія</p>
          <p class="good-devs-modal__role--right">developer</p>
        </div>

        <p class="good-devs-modal__action--right">About, advantages, gallery</p>
      </div>
      <img
        src="./images/reviews/png/customer_1.png"
        class="good-devs-modal__photo--right"
        alt="developer"
      />
    </div>

    <!-- DEV1 - Носков Анатолій -->
    <div class="good-devs-modal-wrapper good-devs-modal-wrapper--left">
      <img
        src="./images/reviews/png/customer_1.png"
        class="good-devs-modal__photo--left"
        alt="developer"
      />
      <div class="good-devs-modal__thumb--left">
        <div class="good-devs-modal-thumb_first">
          <p class="good-devs-modal__name--left">Носков Анатолій</p>
          <p class="good-devs-modal__role--left">developer</p>
        </div>

        <p class="good-devs-modal__action--left">Customer reviews</p>
      </div>
    </div>

    <!-- DEV2 - Процанюк Наталія -->
    <div class="good-devs-modal-wrapper good-devs-modal-wrapper--right">
      <div class="good-devs-modal__thumb--right">
        <div class="good-devs-modal-thumb_first">
          <p class="good-devs-modal__name--right">Процанюк Наталія</p>
          <p class="good-devs-modal__role--right">developer</p>
        </div>

        <p class="good-devs-modal__action--right">Footer</p>
      </div>
      <img
        src="./images/reviews/png/customer_1.png"
        class="good-devs-modal__photo--right"
        alt="developer"
      />
    </div>
  </div>
</div>
