<!-- section products -->

<section class="products-section" id="products">
  <div class="container">
    <div class="products-name">
      <p class="pre-title">100% natural</p>
      <h1 class="products-title">products</h1>
    </div>

    <div class="products-catalog">
      <ul class="products-set list">
        <li class="products-set__item">
          <div class="products-set__data">
            <picture class="products__img">
              <source
                srcset="
                  ./images/products/webp/ice_cream_desk.webp    1x,
                  ./images/products/webp/ice_cream_desk@2x.webp 2x,
                  ./images/products/webp/ice_cream_desk@3x.webp 3x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/products/png/ice_cream_desk.png    1x,
                  ./images/products/png/ice_cream_desk@2x.png 2x,
                  ./images/products/png/ice_cream_desk@3x.png 3x
                "
                type="image/png"
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./images/products/webp/ice_cream_tab.webp    1x,
                  ./images/products/webp/ice_cream_tab@2x.webp 2x,
                  ./images/products/webp/ice_cream_tab@3x.webp 3x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/products/png/ice_cream_tab.png    1x,
                  ./images/products/png/ice_cream_tab@2x.png 2x,
                  ./images/products/png/ice_cream_tab@3x.png 3x
                "
                type="image/png"
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/products/webp/ice_cream_mob.webp    1x,
                  ./images/products/webp/ice_cream_mob@2x.webp 2x,
                  ./images/products/webp/ice_cream_mob@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/products/png/ice_cream_mob.png    1x,
                  ./images/products/png/ice_cream_mob@2x.png 2x,
                  ./images/products/png/ice_cream_mob@3x.png 3x
                "
                type="image/png"
              />
              <img src="./images/products/png/ice_cream_mob.png " alt="ice_cream" />
            </picture>
            <h2 class="products-set__title">ice cream</h2>
            <div class="pseudo"></div>
            <!-- <svg class="products-set__point-svg" width="26px" height="6px">
              <use href=""></use>
            </svg> -->
            <p class="products__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>

            <button type="button" class="products-set__btn">
              <svg class="products-set__next-svg" width="20" height="20">
                <use href="./images/products/test-products.svg#icon-arrow"></use>
              </svg>
              <div class="products-overlay products-overlay--ice-cream">
                <p class="products-overlay__descr">
                  <span class="products-overlay__descr--red"> icecream </span> consist of
                </p>
                <ul class="products-consist list">
                  <li class="products-consist__item">milk</li>
                  <li class="products-consist__item">ice</li>
                  <li class="products-consist__item">sugar</li>
                  <li class="products-consist__item">air</li>
                  <li class="products-consist__item">fruits</li>
                </ul>
              </div>
            </button>
            <!-- <div class="products-overlay">
              <p class="products-overlay__descr">
                Tasty PASSION/ Tasty PASSION/Tasty PASSION/Tasty PASSION/Tasty PASSION/
              </p>
            </div> -->
          </div>
        </li>

        <li class="products-set__item">
          <div class="products-set__data products-set__data--ice-coffe">
            <picture class="products__img">
              <source
                srcset="
                  ./images/products/webp/ice_coffee_desk.webp    1x,
                  ./images/products/webp/ice_coffee_desk@2x.webp 2x,
                  ./images/products/webp/ice_coffee_desk@3x.webp 3x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/products/png/ice_coffee_desk.png    1x,
                  ./images/products/png/ice_coffee_desk@2x.png 2x,
                  ./images/products/png/ice_coffee_desk@3x.png 3x
                "
                type="image/png"
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./images/products/webp/ice_coffee_tab.webp    1x,
                  ./images/products/webp/ice_coffee_tab@2x.webp 2x,
                  ./images/products/webp/ice_coffee_tab@3x.webp 3x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/products/png/ice_coffee_tab.png    1x,
                  ./images/products/png/ice_coffee_tab@2x.png 2x,
                  ./images/products/png/ice_coffee_tab@3x.png 3x
                "
                type="image/png"
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/products/webp/ice_coffee_mob.webp    1x,
                  ./images/products/webp/ice_coffee_mob@2x.webp 2x,
                  ./images/products/webp/ice_coffee_mob@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/products/png/ice_coffee_mob.png    1x,
                  ./images/products/png/ice_coffee_mob@2x.png 2x,
                  ./images/products/png/ice_coffee_mob@3x.png 3x
                "
                type="image/png"
              />
              <img src="./images/products/png/ice_coffee_mob.png " alt="ice_coffee" />
            </picture>

            <h2 class="products-set__title">ice coffee</h2>
            <div class="pseudo"></div>
            <!-- <svg class="products-set__point-svg" width="26px" height="6px">
              <use href=""></use>
            </svg> -->
            <p class="products__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button type="button" class="products-set__btn">
              <svg class="products-set__next-svg" width="20" height="20">
                <use href="./images/products/test-products.svg#icon-arrow"></use>
              </svg>
              <div class="products-overlay products-overlay--ice-coffe">
                <p class="products-overlay__descr">
                  <span class="products-overlay__descr--red"> ice-coffe </span> consist of
                </p>
                <ul class="products-consist list">
                  <li class="products-consist__item">purified water</li>
                  <li class="products-consist__item">natural coffe</li>
                  <li class="products-consist__item">milk</li>
                  <li class="products-consist__item">sugar</li>
                  <li class="products-consist__item">ice cubes</li>
                </ul>
              </div>
            </button>
          </div>
        </li>

        <li class="products-set__item">
          <div class="products-set__data products-set__data--milkshakes">
            <picture class="products__img">
              <source
                srcset="
                  ./images/products/webp/milkshake_desk.webp    1x,
                  ./images/products/webp/milkshake_desk@2x.webp 2x,
                  ./images/products/webp/milkshake_desk@3x.webp 3x
                "
                type="image/webp"
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/products/png/milkshake_desk.png    1x,
                  ./images/products/png/milkshake_desk@2x.png 2x,
                  ./images/products/png/milkshake_desk@3x.png 3x
                "
                type="image/png"
                media="(min-width: 1280px)"
              />

              <source
                srcset="
                  ./images/products/webp/milkshake_tab.webp    1x,
                  ./images/products/webp/milkshake_tab@2x.webp 2x,
                  ./images/products/webp/milkshake_tab@3x.webp 3x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/products/png/milkshake_tab.png    1x,
                  ./images/products/png/milkshake_tab@2x.png 2x,
                  ./images/products/png/milkshake_tab@3x.png 3x
                "
                type="image/png"
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/products/webp/milkshake_mob.webp    1x,
                  ./images/products/webp/milkshake_mob@2x.webp 2x,
                  ./images/products/webp/milkshake_mob@3x.webp 3x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./images/products/png/milkshake_mob.png    1x,
                  ./images/products/png/milkshake_mob@2x.png 2x,
                  ./images/products/png/milkshake_mob@3x.png 3x
                "
                type="image/png"
              />
              <img src="./images/products/png/milkshake_mob.png " alt="milkshake" />
            </picture>
            <h2 class="products-set__title">milkshakes</h2>
            <div class="pseudo"></div>
            <!-- <svg class="products-set__point-svg" width="26px" height="6px">
              <use href=""></use>
            </svg> -->
            <p class="products__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            <button type="button" class="products-set__btn">
              <svg class="products-set__next-svg" width="20" height="20">
                <use href="./images/products/test-products.svg#icon-arrow"></use>
              </svg>
              <div class="products-overlay products-overlay--milkshakes">
                <p class="products-overlay__descr">
                  <span class="products-overlay__descr--red">milkshakes </span> consist of
                </p>
                <ul class="products-consist list">
                  <li class="products-consist__item">milk</li>
                  <li class="products-consist__item">fruits</li>
                  <li class="products-consist__item">ice</li>
                </ul>
              </div>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- and section products -->
