.section-about {
  background-color: $made-color;
  padding-top: 125px;
  padding-bottom: 39px;

  background-image: url(../images/about/png/milk_splash_mob.png);

  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom 100px center;

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/about/png/milk_splash_mob@2x.png);
  }

  @media screen and (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: url(../images/about/png/milk_splash_mob@3x.png);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 139px;
    padding-bottom: 66px;
    background-image: none;
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/about/png/milk_splash_desk.png);
    background-position: bottom -105px center;
  }
}
.title-label {
  margin-bottom: 15px;

  font-family: $heading-font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.166;

  text-align: center;
  text-transform: uppercase;

  color: $color-ellipse;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.153;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 1.133;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 768px) {
  .section-about__flex-box {
    display: flex;
  }
}
.section-about__text {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 340px;
    justify-content: flex-end;
  }
  @media screen and (min-width: 1280px) {
    width: 463px;
  }
}

.section-about__title {
  margin-bottom: 26px;

  line-height: 1.147;
  text-align: center;
  text-transform: uppercase;

  color: $accent-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
    font-size: 48px;
    line-height: 1.145;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 55px;
    font-size: 58px;
    line-height: 1.137;
    letter-spacing: 0.06em;
  }
}
.section-about__image {
  width: 280px;
  height: 279px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 46px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/about/png/cow_milk_mob.png);

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/about/png/cow_milk_mob@2x.png);
  }

  @media screen and (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: url(../images/about/png/cow_milk_mob@3x.png);
  }

  @media screen and (min-width: 768px) {
    width: 340px;
    height: 339px;
    margin: 0 17px 0 0;
  }

  @media screen and (min-width: 1280px) {
    width: 516px;
    height: 516px;
    margin-right: 74px;
    justify-content: center;
  }
}
.section-about__review {
  padding-left: 30px;
  padding-right: 30px;

  font-family: $primary-font-family;

  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  /* or 19px */

  color: $second-text-color;

  @media screen and (min-width: 768px) {
    padding: 0;
    font-size: 14px;
    line-height: 176%;
  }
  @media screen and (min-width: 1280px) {
    line-height: 194%;
    letter-spacing: 0.04em;
  }

  &:not(:last-child) {
    margin-bottom: 19px;
  }
}

.section-about__review:last-child {
  margin-bottom: 32px;
}
.section-about__text .bottom {
  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    margin-bottom: 62px;
  }
}

.section-about--color {
  color: $comment-text-color;
  margin-bottom: 34px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 176%;
  }
}
// button

.read-more__label {
  max-width: 176px;

  margin-left: 30px;
  padding: 11px 37px;

  background-color: $primary-white-color;
  border: 1px solid transparent;
  border-radius: 22px;

  font-family: $primary-font-family;

  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: $accent-color;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
}

.extra-text {
  display: none;
}

#read-more:checked ~ .extra-text {
  display: block;
}

.less {
  display: none;
}

#read-more:checked ~ .read-more__label .more {
  display: none;
}
#read-more:checked ~ .read-more__label .less {
  display: inline;
}
.label-icon {
  margin-left: 13px;
  fill: none;
  stroke: $accent-color;
}
.read-more__label:hover .label-icon {
  stroke: $primary-white-color;
  transition: stroke $transition-duration $transition-function;
}

// animation
.section-about__input:hover ~ .read-more__label,
.section-about__input:focus ~ .read-more__label {
  background-color: $hover-btn-header-color;
  color: $primary-white-color;
  transition: all $transition-duration $transition-function;
}
