.advantages {
  padding-bottom: 97px;
  background-color: $made-color;

  @media screen and (min-width: 768px) {
    padding-bottom: 140px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 139px;
  }
}

.advantages__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 38px;
  }
}

.advantages__list {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
  @media screen and (min-width: 1280px) {
    gap: 30px;
  }
}

.advantages__number {
  margin-bottom: 18px;

  font-family: $heading-font-family;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.138;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $accent-color;

  @media screen and (min-width: 768px) {
    margin-bottom: 13px;

    font-size: 48px;
    line-height: 1.145;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;

    font-size: 58px;
    line-height: 1.137;
  }

  &::before {
    content: '';
    display: block;
    background-image: url(../images/icons/glass_milk.svg);
    background-repeat: no-repeat;
    margin-bottom: 16px;

    width: 33px;
    height: 50px;

    @media screen and (min-width: 767px) {
      margin-bottom: 13px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 40px;
    }
  }
  &--apples::before {
    width: 50px;
    background-image: url(../images/icons/glass_fruit.svg);
  }

  &--lollipop::before {
    width: 44px;
    background-image: url(../images/icons/ice_cream.svg);
  }
}

.advantages__text {
  max-width: 230px;

  font-family: $primary-font-family;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  /* or 20px */

  color: $comment-text-color;

  @media screen and (min-width: 768px) {
    max-width: 180px;

    font-size: 14px;
    line-height: 174%;
  }

  @media screen and (min-width: 1280px) {
    max-width: 330px;

    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
  }
}
