.reviews__text {
  display: inline-flex;
  align-items: center;
  $text-secondary: #000000;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  letter-spacing: 0.03em;
  text-align: center;
  background-image: repeating-linear-gradient(
    to top,
    #e1e1e1,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px
  );
}

.customer-reviews__text {
  display: block;
  margin: 0 auto;
  font-family: $primary-font-family;
  $text-secondary: #000000;
  font-style: normal;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  font-weight: bold;
}

.customer-reviews__icons {
  display: block;
  margin: 0 auto;
}

.list__team-social-list {
  text-align: center;
}
