.gallery-section {
  min-height: 122px;
  background-image: linear-gradient(to bottom, $made-color 50%, $primary-white-color 50%);
}

.gallery-section_image {
  display: block;
  max-width: 100%;
  height: auto;
  align-items: center;
}
