.gallery-section {
  min-height: 122px;
  background-image: linear-gradient(to bottom, $made-color 50%, $primary-white-color 50%);

  @media screen and (min-width: 768px) {
    min-height: 264px;
  }
  @media screen and (min-width: 1280px) {
    min-height: 430px;
  }
}

.gallery {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.picture {
  display: block;
  width: auto;
  height: auto;
  object-fit: cover;
  border: 1px solid transparent;
  border-radius: 11px;
  transition: transform 500ms $transition-function;
}

.picture:hover,
.picture:focus {
  transform: scale(2.5);
}

.picture_4:hover,
.picture_4:focus {
  transform: scale(1.4);
}

.gallery__item--flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
