$transition-duration-image: 2s;

.hero {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 193px;
  padding-bottom: 160px;
  background-color: $header-section-color;

  @media screen and(min-width: 768px) {
    padding-top: 102px;
    padding-bottom: 34px;
  }

  @media screen and(min-width: 1280px) {
    padding-top: 171px;
    padding-bottom: 56px;
  }
}

.hero-container {
  position: relative;
  z-index: 10;
}

.hero-imege__girl,
.hero-imege__milk {
  @media screen and(max-width: 767px) {
    display: none;
  }
}

.hero-image-thumb {
  overflow: hidden;

  width: min(346px, calc(100% - 36px));
  height: 346px;
  position: absolute;
  top: -110px;
  left: 36px;
  @media screen and(min-width: 768px) {
    width: 323px;
    height: 323px;
    top: -71px;
    left: 307px;
  }

  @media screen and(min-width: 1280px) {
    width: 538px;
    height: 538px;
    top: -119px;
    left: 475px;
  }
}

@keyframes scale {
  0% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}

.hero-circle {
  border-radius: 50%;
  width: 346px;
  height: 346px;
  background-color: $color-ellipse;
  position: absolute;
  animation: scale;
  animation-timing-function: $transition-function;
  animation-duration: $transition-duration-image;
  z-index: 1;
  @media screen and(min-width: 768px) {
    width: 323px;
    height: 323px;
  }

  @media screen and(min-width: 1280px) {
    width: 538px;
    height: 538px;
  }
}

.hero-image__ice-cream {
  position: absolute;
  top: -101px;
  left: 117px;
  display: block;
  animation-name: appearance;
  animation-duration: $transition-duration-image;
  animation-timing-function: $transition-function;
  transition: transform $transition-duration $transition-function;
  width: 171px;
  height: 410px;
  z-index: 2;
  @media screen and(min-width: 768px) {
    top: -63px;
    left: 378px;
    width: 143px;
    height: 336px;
  }

  @media screen and(min-width: 1280px) {
    top: -63px;
    left: 594px;
    width: 236px;
    height: 557px;
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-imege__milk {
  @media screen and(min-width: 768px) {
    width: 124px;
    height: 126px;
    position: absolute;
    bottom: 0px;
    left: 34px;
  }

  @media screen and(min-width: 1280px) {
    width: 188px;
    height: 191px;
    bottom: 45;
    left: 38px;
  }
}

.hero-imege__girl {
  @media screen and(min-width: 768px) {
    position: absolute;
    display: block;
    width: 168px;
    height: 133px;
    bottom: -34px;
    right: 34px;
    z-index: 20;

    @media screen and(min-width: 1280px) {
      width: 293px;
      height: 232px;
      bottom: -56px;
      right: 109px;
    }
  }
}

.hero__heading {
  position: relative;
  z-index: 10;
  @include font(48px, 0.965, 0em, 400, left);
  text-transform: uppercase;
  color: $accent-color;
  margin-bottom: 20px;
  @media screen and(min-width: 768px) {
    @include font(34px, 0.965, 0em, 400, left);
  }
  @media screen and(min-width: 1280px) {
    @include font(58px, 0.965, 0em, 400, left);
    margin-bottom: 25px;
  }
}

.hero__heading--white {
  @include font(26px, 1.145, 0em, 400, left);
  display: inline-block;
  text-transform: uppercase;
  color: $primary-white-color;
  @media screen and(min-width: 768px) {
    @include font(22px, 1.145, 0em, 400, left);
  }
  @media screen and(min-width: 1280px) {
    @include font(38px, 1.145, 0em, 400, left);
  }
}

.hero-link__button {
  position: relative;
  z-index: 10;

  display: inline-flex;
  height: 24px;
  border-radius: 24px;
  @include font(8px, 1.303, 0em, 400, center);
  padding-left: 14px;
  padding-right: 14px;
  align-items: center;

  transition: background-color $transition-duration $transition-function;
  @media screen and(min-width: 768px) {
    margin-bottom: 66px;
  }
  @media screen and(min-width: 1280px) {
    margin-bottom: 112px;
    @include font(14px, 1.303, 0em, 400, center);
    height: 40px;
  }
}

.hero-link__button--first {
  background-color: $accent-color;
  color: $primary-white-color;
  margin-right: 8px;
  @media screen and(min-width: 1280px) {
    margin-right: 17px;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: $hover-btn-header-color;
  }
}

.hero-link__button--secondery {
  background-color: $primary-white-color;
  color: $accent-color;
  &:hover,
  &:focus,
  &:active {
    background-color: $hover-btn-header-color-second;
  }
}

.hero-product,
.hero-features-cafes,
.hero-features-food-trucks {
  @media screen and(max-width: 767px) {
    display: none;
  }
}
.hero-features-cafes,
.hero-features-food-trucks {
  position: absolute;
  right: 42px;
  @include font(8px, 1.303, 0em, 400, center);
  color: $primary-white-color;
  &::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $primary-white-color;
    position: absolute;
    top: -3px;
    right: -8px;
    z-index: 9;
  }

  @media screen and(min-width: 1280px) {
    @include font(14px, 1.303, 0em, 400, center);
    &::before {
      width: 30px;
      height: 30px;
    }
  }
}

.hero-features-cafes {
  top: 0;
}

.hero-features-food-trucks {
  top: 50px;
}

.hero-features-quantity {
  position: relative;
  z-index: 9;

  display: block;
  font-family: $heading-font-family;
  @include font(28px, 1.145, 0.04em, 400, right);
  color: $accent-color;

  @media screen and(min-width: 1280px) {
    @include font(46px, 1.145, 0.04em, 400, right);
  }
}

.hero-product {
  margin-left: 134px;
  width: 114px;
  @media screen and(min-width: 1280px) {
    width: 200px;
    margin-left: 180px;
  }
}

.hero-product__text {
  @include font(8px, 1.5, 0em, 400, left);
  color: $primary-white-color;

  @media screen and(min-width: 1280px) {
    @include font(14px, 1.4, 0em, 400, left);
  }
}

.hero-product__link {
  margin-top: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: $primary-white-color;
  border-radius: 50%;
  color: $accent-color;
  transition: background-color $transition-duration $transition-function;

  @media screen and(min-width: 1280px) {
    margin-top: 20px;
    width: 26px;
    height: 26px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $hover-btn-header-color-second;
  }
}

.hero-product__icon {
  @include icons(6px, 6px);
  @media screen and(min-width: 1280px) {
    @include icons(9px, 9px);
  }
}
